@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-stack: 'Montserrat', sans-serif;
$primary-color: #ffba40ff;
$light-color: #fff8e1;
$navbar-dropdown-arrow: #ffba40ff;
$dark-gray: #363636;

// * MAIN BODY AND GENERAL ELEMENTS

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: $primary-color;
}

:hover.a {
  color: $dark-gray;
}

input {
  font-family: 'Montserrat', sans-serif;
}

option {
  font-family: 'Montserrat', sans-serif !important;
}

select {
  font-family: 'Montserrat', sans-serif !important;
}

.bold-text {
  font-weight: bold;
}

.is-yellow-button {
  background-color: $primary-color;
  border: none;
  color: white;
  font-weight: bold;
}

:hover.is-yellow-button {
  color: $dark-gray;
}

.yellow-section {
  background-color: $light-color
}

.gray-section {
  background-color: lightgray
}

.centered-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// * BULMA OVERRIDE

.button {
  font-family: 'Montserrat', sans-serif;
}

#navbar-link-override:hover {
  color: $primary-color;
  font-weight: bold;
}

navbar-link::-ms-expand {
  border-color: $primary-color
}

// * HOME PAGE

.logo-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: $primary-color;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.tagline-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.title-style {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: $primary-color;
}

.register-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: white !important;
  background-color: $primary-color;
  padding: 15px;
  border: none;
  width: 50%;
  border-radius: 5px;
}

:hover.register-button {
  color: $dark-gray !important;
}

.home-page-search-section {
 margin-top: 50px;
}

.home-page-searchbar {
  background-color: lightgray;
  padding: 15px;
  border-radius: 5px;
}

.homepage-link {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

#button-link {
  color: white;
}

:hover#button-link{
  color: $dark-gray !important;
}


#homepage-select {
  font-family: 'Montserrat', sans-serif !important;
}

.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.homepage-card {
  height: 400px;
}


// * HORIZONTAL SCROLLING

.scrolling-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch
}

.scrolling-card {
  flex: 0 0 auto;
  width: 300px;
  height: 450px;
  margin: 10px;
  border: 1px solid gray;
}

.scrolling-card:hover {
  transform: scale(1.1)
}

.scrolling-card-small {
  flex: 0 0 auto;
  width: 200px;
  height: 300px;
  margin: 10px;
}

// * IMAGE UPLOAD

.image-holder {
  height: 300px;
  width: 80%;
  border: 2px solid gray;
  border-radius: 5px;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.image-upload {
  margin: 10px;
}

// * RESTAURANT PAGE

.horizontal-card {
  display: flex;
  flex-direction: row;
  height: 200px;
  border-radius: 5px;
  margin: 15px;
}

.horizontal-card:hover {
  transform: scale(1.1)
}

.horizontal-card-image {
  display: flex;
  flex: 1;
  border-radius: 5px 0px 0px 5px;
}

.horizontal-card-content {
  display: flex;
  flex: 3;
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
}

.horizontal-card-content-right {
  display: flex;
  flex: 1;
  border-radius: 0px 5px 5px 0px;
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-end;
}

.horizontal-card-title {
  font-size: 30px;
}

.horizontal-card-text {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.control-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


// * SINGLE RESTAURANT PAGE

.restaurant-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.restaurant-hero-text {
  text-shadow: 2px 1px 1px rgba(50, 50, 50, 0.8);
}

.section-row {
  display: flex;
  flex-direction: row;
}


.avatar {
  height: 100px
}




.about-page {
  text-align: center;
}




// POI 

.description-text {
  font-size: 16px;
  font-weight: normal;
}

.poi {
  width: 40%;
  display: flex;
  // position: absolute;
  
}

.poi-image-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map-item {
  border: 1px solid black;
}

.map-label {
  background: white;
  border: 1px solid gray;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
}

.card-footer {
  margin: 2%;
}

.fun-fact {
  margin: 5px;
}

// * GROUP PAGE

.group-image {
 height: 300px;
 margin-bottom: 15px;
}

// * MEET-UP PAGE

.meetup-card {
  height: 450px;
}

//* FOOTER

small {
  font-size: 11px;
}

.footer-bottom {
  margin-top: 100px;
}